body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(137, 210, 253) 0%,
    rgb(255, 241, 188) 90%
  );
}
a {
  text-decoration: none;
  color: #ffaa4c;
}
a.hover {
  color: #feddbe;
}
.weather-app {
  max-width: 500px;
  margin: 60px auto;
  padding: 15px 60px;
  border: 0.5px transparent #5f939a;
  border-radius: 25px;

  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  box-sizing: border-box;
  margin-bottom: 0;
}
/* .container {
  background-image: url(/images/cloud.jpeg);
  background-repeat: no-repeat;
  width: 100px;
  height: 200px;
} */
h1 {
  font-size: 100px;
}
.center-forecast {
  text-align: center;
  margin: 60px auto;
  color: #ffaa4c;
  font-size: 100px;
  font-family: "Amatic SC", cursive;
  font-family: "Tourney", cursive;
  font-family: "Zen Loop", cursive;
}
.degree {
  position: relative;
  font-size: 20px;
  font-weight: 200;
  top: -52px;
}
.center-forecast .active {
  color: #3d84b8;
  cursor: default;
}
.center-forecast .active {
  text-decoration: none;
}
button {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffaa4c;
  background-color: #3d84b8;
  font-size: 12px;
  padding: 10px 20px;
  border: 1px solid #ffaa4c;
  border-radius: 10px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0 0.3);
  transition: all 200ms ease-in-out;
}
button:hover {
  color: #3d84b8;
  background-color: #ffaa4c;
  cursor: pointer;
  border: 1px solid #3d84b8;
}
div .forecast {
  width: 40px;
}
.main-forecast {
  width: 100px;
  margin-left: -5px;
  float: left;
}

.company-name {
  color: #045762;
  font-size: 25px;
  font-family: "Amatic SC", cursive;
}
.biz-name {
  color: #ffaa4c;
  font-size: 20px;
}
.search-bar {
  margin: 30px auto;
}

ul {
  list-style: none;
}
p:first-letter {
  text-transform: capitalize;
}
.heading,
.weekDay,
.time {
  text-align: center;
}
.heading {
  color: #ffaa4c;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.weekDay,
.time {
  font-family: "Dancing Script", cursive;
  font-size: 15px;
  color: #548ca8;
}
.footer {
  text-align: center;
  font-family: "Dancing Script", cursive;
  color: #548ca8;
  font-size: 20px;
}
#description {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  color: #548ca8;
}
#weather-elements {
  font-family: "Amatic SC", cursive;
  font-family: "Zen Loop", cursive;
  text-align: center;
  font-size: 20px;
  color: #ffaa4c;
}

.future {
  font-family: "Amatic SC", cursive;
  font-family: "Zen Loop", cursive;
  font-weight: bold;
  color: #548ca8;
}
.form-control,
.btn {
  font-family: "Amatic SC", cursive;
  font-family: "Zen Loop", cursive;
}

.wind-input,
.precipate-input,
.humidity-input {
  color: #548ca8;
}
